<header>
    <nav class="navigator">
        <div class="top-bar">
            <div class="social-contact">
                <a href="https://www.instagram.com/einsteinedev/" class="space">
                    <img src="../../../../assets/icons/insta.png" width="20" alt="instagram">
                </a>
                <a href="https://www.linkedin.com/in/eldsoncaldas/" class="space">
                    <img src="../../../../assets/icons/linkedin.png" width="20" alt="linkedin">
                </a>
                <a href="https://github.com/EldsonC" class="space">
                    <img src="../../../../assets/icons/github.png" width="20" alt="github">
                </a>
            </div>
    
            <div class="currency-change">
                <select name="coins" id="coin" class="select-style">
                    <option value="dolar" class="option-style">USD - BRL</option>
                    <option value="dolar" class="option-style">USD - EUR</option>
                    <option value="dolar" class="option-style">EUR - USD</option>
                    <option value="dolar" class="option-style">EUR - BRL</option>
                    <option value="dolar" class="option-style">BRL - EUR</option>
                    <option value="dolar" class="option-style">BRL - USD</option>
                </select>
            </div>
        </div>
    </nav>
</header>

<cry-home></cry-home>

